<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <!-- You can use your own local ip address instead of localhost, by this way, 
                  the app is going to work in a Local Area Network-->
      <endpoint name="configuracionServidor"
                contract="WcfServicioBaseDatos.IServicioBD"
                binding="basicHttpBinding"
                address="http://localhost:12345/server"/>
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>