<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ConexionBD"
     providerName="MySql.Data.MySqlClient"
     connectionString="server=localhost; database= cinco_en_linea; Uid=cel; pwd=HpPtPBCHhdtpm0903@#" />
  </connectionStrings>
</configuration>